* {
  box-sizing: border-box;
}

//SIDEBAR
.sidebar {
    position: fixed;
    height: 100%;
    left:0;
    background: #1b1b1b;
}

.sidebar .sidebar-title {
    color: white;
    font-size: 22px;
    font-weight: 600;
    line-height: 65px;
    text-align: center;
    background: #1e1e1e;
    letter-spacing: 1px;
}
nav ul {
    background: #1b1b1b;
    height: 100%;
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
}
nav ul li {
    line-height: 60px;
    border-bottom: 1px solid rgba(255,255,255,0.1);
}
nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding-left: 10px;
    font-weight: 500;
    display: block;
    width: 100%;
    border-left: 3px solid transparent
}
nav ul li a:hover {
    color: #337ab7;
    background: #1e1e1e;
    border-left-color: #337ab7;
}
//LOGIN
.wrapper {
  /* Center vertically and horizontally */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.content {
  width: 400px;
}
.logo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-desc {
  text-align: center;
  font-size: 20px;
  margin-bottom: 20px;
}
.login-alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
  margin-bottom: 20px;
  border-radius: 8px;
}

//MENU TITLE
.menu-title-wrapper {
  width: 100%;
  height: 500px;
  background-color: #1e1e1e;
}
.menu-title {
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
  margin: 0;
}

//MENU REGIST RTSP
.rtsp-content {
  width: 600px;
  padding: 16px;
}