{% extends "layout.html" %} {% block body %}
<div style="width: 100%">
  <div
    style="
      display: flex;
      align-items: center;
      background-color: #1e1e1e !important;
      padding-left: 16px !important;
      width: 100% !important;
      height: 100px !important;
    "
  >
    <h2 class="menu-title">Registrasi Alamat RTSP </h2>
  </div>
  <div style="width: 600px; padding: 16px; padding-top: 32px;">
    <form method="POST" action="#">
      <div class="form-group" style="margin-bottom: 20px; font-size: 20px">
        <label for="exampleInputEmail1">Alamat RTSP</label>
        <input
          type="text"
          class="form-control"
          name="rtsp-address"
          placeholder="Masukkan Alamat RTSP"
        />
      </div>
      <div class="form-group" style="margin-bottom: 20px; font-size: 20px">
        <label for="exampleInputPassword1">Nama Titik</label>
        <input
          type="text"
          class="form-control"
          name="spot-name"
          placeholder="Masukkan Nama Titik"
        />
      </div>
      <div class="form-group" style="margin-bottom: 20px; font-size: 20px">
        <label for="exampleInputPassword1">Lokasi</label>
        <input
          type="text"
          class="form-control"
          name="lokasi"
          placeholder="Masukkan Daerah Titik"
        />
      </div>
      <div class="form-group" style="margin-bottom: 20px; font-size: 20px">
        <label for="exampleInputPassword1">Kapasitas Maksimum</label>
        <input
          type="text"
          class="form-control"
          name="max-capacity"
          placeholder="Masukkan Kapasitas Maksimum"
        />
      </div>
      <button
        type="submit"
        class="btn btn-primary btn-block"
        style="height: 50px; font-size: 24px"
      >
        Daftarkan titik
      </button>
    </form>
  </div>
</div>

{% endblock %}
